// _variable.scss

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$black: #000000;
$dark-jungle-green:#222222;
$zeus-black: #231f20;
$mineshaft-brown: #333333;
$heavy-metal-black: #2d2d2d;
$taupe-gray: #888888;
$mountain-mist-gray: #999999;
$gray: #bfbfbf;
$wild-sand-gray:#f4f4f4;
$platinum-gray:#e2e2e2;
$cararra-gray:#ececec;
$gainsboro-gray-lighter: #dddddd;
$gainsboro-gray-light: #dedede;
$gainsboro-gray: #dfdede;
$iron-gray: #d8d8d8;
$gainsboro-gray:#dcdcdc;
$cararra-gray: #edecec;
$white: #ffffff;
$black-haze: #f6f6f6;
$concrete-gray: #f2f2f2;
$desert-storm-gray: #f8f6f7;
$desert-storm-light-gray: #f8f7f7;

$green: #00c700;
$kelly-green: #21c405;
$lime-green: #00e300;
$tea-green-dark: #c6edc6;
$tea-green: #ccf4cc;
$frostee-green :#e8f9e6;
$peppermint-green: #e2f2de;
$alice-blue: #f2fafe;

$cerulean-blue:#009aec;

$carousel-pink:#fce6ea;
$cadmium-red:#e30325;

